<div class="mt-4">

    <form method="POST">
        <div class="form-group">
            <label for="search-input">What are u looking for?</label>
            <input type="text" name='q' class="form-control" id="search-input" placeholder="Tell me ">
        </div>
        <div class="form-group">
            <label for="search-selet">What are u looking for?</label>
            <select name='choose' class="form-control" id="search-selet">
                <option value="">------please</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>